.gridPaging {text-align:center; margin-top:20px; margin-bottom:30px; font-size:15px;}
.gridPaging span {vertical-align:middle; display:inline-block; min-width:30px; height:30px; line-height:28px; border:1px solid #ddd;} 
.gridPaging a {vertical-align:middle; display:block; text-decoration:none; height:100%; padding:0 5px; line-height:28px;}
.gridPaging a:hover {background:#ebeced;}
.gridPagingMove {font-weight:bold; }
.gridPagingDisable {font-weight:bold; color:#cccccc; border:1px solid #e0e0e0; background-color:#f6f4f4;}
.gridPagingCurrent {border-color:#4f96d1; color:#fff; text-decoration:none; line-height:28px; background-color:#4f96d1;}
 .gridLink{font-family: "맑은 고딕", 돋움, Verdana;font-size: 12px;color:rgb(49, 57, 63);bottom: 1px;border-width: 0;border-style: solid;}