/* 메인 */
.main-content {
	.main-visual {
		overflow: hidden;
		position: relative;

		>img {
			max-width: inherit;
			position: relative;
			left: 50%;
			top: 0;
			transform: translateX(-50%);
			vertical-align: top;
			z-index: 1;

			&.m {
				display: none;
			}
		}

		.main-txt {
			position: absolute;
			left: 0;
			right: 0;
			top: 50%;
			transform: translateY(-50%);
			z-index: 2;
			margin-top: -35px;

			a {
				display: block;
				cursor: default;

				em {
					display: block;
					margin-bottom: 75px;
					font-size: 40px;
					font-weight: 300;
					color: white;
					font-style: normal;

					strong {
						font-size: 56px;
						font-weight: bold;
					}
				}
			}

			.detail-btn {
				cursor: pointer;
				padding: 13px;
				padding-right: 80px;
				border: 1px solid white;
				font-size: 16px;
				font-weight: 300;
				border: 1px solid #949698;
				color: white;
				background:url(#{$url-img}/arr-right.png) right 20px center no-repeat;
				-moz-transition: background .3s ease-in-out;
				-webkit-transition: background .3s ease-in-out;
				-o-transition: background .3s ease-in-out;
				-ms-transition: background .3s ease-in-out;
				transition: background .3s ease-in-out;

				&:hover {
					background-color: #0165bb;
				}
			}
		}
	}

	.icon-board {
		background: #f4f4f4;

		.icon-list {
			padding-right: 340px;
			position: relative;
			top: -100px;
			margin-bottom: -100px;

			.login-box {
				background: #0165bb;
				position: absolute;
				right: 0;
				top: -150px;
				width: 340px;
				z-index: 2;
				padding: 0px 30px;
				height: 355px;
				margin-top: 0;

				* {
					line-height: 100%;
				}

				&:before {
					content: "";
					display: block;
					width: 51px;
					height: 77px;
					background:url(#{$url-img}/img-clip.png) 0 0 no-repeat;
					position: absolute;
					right: 8px;
					top: -17px;
				}

				h3 {
					color: white;
					font-size: 24px;
					font-weight: 500;
					margin-bottom: 20px;
					line-height: 26px;
					text-align: left;
				}

				.input-box {
					input {
						height: 45px;
						line-height: 34px;
						border: 0;
						background: transparent;
						border-bottom: 1px solid #438dcd;
						width: 100%;
						padding: 0 3px;
						margin-top: 10px;
						color: white;

						&:first-child {
							margin-top: 0;
						}

						&::placeholder {
							color: white;
							opacity: 0.65;
						}
					}
				}

				.btn-login {
					display: block;
					font-size: 18px;
					background: #ffce2b;
					color: $default;
					height: 40px;
					line-height: 40px;
					text-align: center;
					margin: 20px 0 12px;
				}

				.chk-area {
					text-align: center;
					font-size: 0;

					label {
						margin: 0 5px;
						color: #fff;
						font-size: 16px;
						display: inline-block;
						padding-left: 0;
					}
				}


				ul {
					text-align: center;
					font-size: 0;
					position: absolute;
					left: 0;
					right: 0;
					bottom: 25px;

					li {
						display: inline-block;
						vertical-align: top;
						margin-left: 24px;

						&:first-child {
							margin-left: 0;
						}

						a {
							display: block;
							color: #fff;
							font-size: 15px;
							font-weight: 300;
							position: relative;
							line-height: 17px;

							&:before {
								content: "";
								display: block;
								border-left: 1px solid white;
								height: 10px;
								opacity: .6;
								position: absolute;
								left: -12px;
								top: 50%;
								margin-top: -5px;
							}
						}

						&:first-child {
							a {
								&:before {
									display: none;
								}
							}
						}
					}
				}
			}

			>ul {
				font-size: 0;
				background: #fff;
				position: relative;
				z-index: 1;
				box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);

				li {
					display: inline-block;
					vertical-align: top;
					width: 33.33%;
					text-align: center;
					padding: 24px 20px 25px;
					border-left: 1px solid #f4f4f4;

					&:first-child {
						border: 0;
					}

					a {
						display: block;

						span {
							display: block;
							font-size: 16px;
							color: $default;
							line-height: 24px;
							margin-top: 10px;

							strong {
								color: #0076db;
							}
						}

					}
				}
			}
		}


		.notice_box {
			padding-bottom: 150px;
			position: relative;

			h2 {
				font-size: 48px;
				text-align: center;
				color: #222;
				padding: 75px 0 50px;
				font-weight: 400;
			}

			.more {
				position: absolute;
				left: 50%;
				bottom: 60px;
				margin-left: -25px;
				width: 53px;
				height: 53px;
				background: url(#{$url-img}/btn_more.gif) 0 0 no-repeat;
				text-indent: -9999px;
			}

			.slick-slider {
				position: static;
			}

			.slick-list {
				margin: 0 -15px;
			}

			.slick-slide {
				padding: 0 15px;

				>div {
					background: #fff url(#{$url-img}/ico-arr.gif) left 30px bottom 30px no-repeat;
					;
					padding: 30px;
					height: 255px;

					a {
						display: block;
						height: 100%;
					}

					.day {
						font-size: 20px;
						display: block;
						color: #333;
						margin-bottom: 10px;
					}

					p {
						em {
							color: #fff;
							background: #da481f;
							font-size: 10px;
							width: 12px;
							height: 12px;
							line-height: 12px;
							text-align: center;
							display: inline-block;
							vertical-align: top;
							display: none;
						}

						span {
							color: #333;
							font-size: 18px;
							line-height: 30px;
							display: inline-block;
							vertical-align: top;
							overflow: hidden;
							text-overflow: ellipsis;
							display: -webkit-box;
							-webkit-line-clamp: 4;
							-webkit-box-orient: vertical;
							word-break: keep-all;
							height: 120px;

						}
					}
				}
			}

			.slick-arrow {
				position: absolute;
				left: 50%;
				bottom: 60px;
				width: 52px;
				height: 53px;
				border: 0;
				text-indent: -9999px;
				z-index: 5;
				cursor: pointer;

				&.slick-prev {
					background: url(#{$url-img}/btn_left_on.gif) 0 0 no-repeat;
					margin-left: -77px;

					&.slick-disabled {
						background: url(#{$url-img}/btn_left.gif) 0 0 no-repeat;
					}
				}

				&.slick-next {
					background: url(#{$url-img}/btn_right_on.gif) 0 0 no-repeat;
					margin-left: 28px;

					&.slick-disabled {
						background: url(#{$url-img}/btn_right.gif) 0 0 no-repeat;
					}
				}
			}
		}
	}

	.banner-box {
		padding: 100px 0;

		.container {
			&:after {
				content: "";
				display: block;
				clear: both;
			}

			>div {
				float: left;
				width: calc(50% - 15px);

				&:first-child {
					margin-right: 30px;
				}

				a {
					img {
						display: block;

						&.m {
							display: none;
						}
					}
				}

				.banner-rollings {
					.slick-dots {
						position: absolute;
						right: 40px;
						top: 18px;

						&:after {
							content: "";
							display: block;
							clear: both;
						}

						li {
							margin-left: 8px;
							float: left;

							&:first-child {
								margin-left: 0;
							}

							button {
								text-indent: -9999px;
								width: 12px;
								height: 12px;
								background: white;
								opacity: 0.35;
								border-radius: 50%;
							}

							&.slick-active {
								button {
									opacity: 1;
								}
							}

							&.controll {
								text-indent: -9999px;
								width: 25px;
								height: 25px;
								border: 1px solid white;
								border-radius: 3px;
								cursor: pointer;
								position: relative;
								top: -2px;
							}

							&.stop {
								background:url(#{$url-img}/btn-stop.png) center center no-repeat;
							}

							&.play {
								background:url(#{$url-img}/btn-play.png) center center no-repeat;
							}
						}
					}
				}
			}
		}
	}

	.bottom-banner {
		background: #122a5a;

		ul {
			overflow: hidden;
			position: relative;

			&:before {
				content: "";
				display: block;
				border-left: 1px dashed #384c75;
				position: absolute;
				left: 0;
				top: 0;
				bottom: 0;
			}

			li {
				float: left;
				width: 25%;

				a {
					padding: 70px 0;
					text-align: center;
					display: block;
					border-right: 1px dashed #384c75;

					strong {
						display: block;
						color: white;
						font-size: 20px;
						margin-top: 35px;
						font-weight: 300;
					}
				}
			}
		}
	}

	@include media-breakpoint-down(md) {

		.main-visual {
			.main-txt {

				a {
					padding: 0 20px;

					em {
						font-size: 32px;
						margin-bottom: 40px;

						strong {
							font-size: 36px;
							font-weight: 500;
						}
					}

					.detail-btn {
						font-size: 15px;
						padding: 8px;
						padding-right: 50px;
						background-size: 22px 7px;
						background-position: right 10px center;
					}
				}
			}
		}

		.icon-board {
			.icon-list {
				>ul {
					li {
						padding: 10px;
						height: 204px;

						img {
							width: 60px;
						}

						span {
							word-break: keep-all;
							font-size: 14px;
							line-height: 23px;

							br {
								display: none;
							}
						}
					}
				}
			}
		}

		.notice_box {
			overflow: hidden;

			.slick-list {
				margin: 0 -10px;
			}

			.slick-slide {
				padding: 0 10px;

				>div {
					background-position: left 15px bottom 15px;
					padding: 15px;
					height: 190px;
				}
			}
		}

		.banner-box {
			padding: 50px 0;
		}
	}

	@media screen and (max-width:880px) {

		.icon-board {
			.icon-list {
				>ul {
					li {
						height: 204px;

						span {
							word-break: keep-all;
							font-size: 13px;
							line-height: 20px;

						}
					}
				}
			}
		}

		.bottom-banner {
			ul {
				&:before {
					display: none;
				}
			}
		}
	}

	@include media-breakpoint-down(sm) {
		.main-visual {
			position: relative;

			>img {
				display: none;

				&.m {
					display: block;
					left: 0;
					transform: translate(0);
					width: 100%;
				}
			}

			.main-txt {
				margin-top: 0;
				top: auto;
				bottom: 0;
				transform: translateY(0);
				background:rgba(0, 0, 0, 0.5) url(#{$url-img}/arr-right.png) right 30px center no-repeat;

				a {
					padding: 15px;
					cursor: pointer;

					em {
						font-size: 18px;
						line-height: 24px;
						font-weight: 300;
						margin: 0;

						strong {
							font-weight: 300;
							font-size: 18px;
							line-height: 24px;
						}
					}

					.detail-btn {
						display: none;
					}
				}
			}
		}

		.icon-board {
			.icon-list {
				margin: 0;
				padding-right: 0;
				top: 0;

				.login-box {
					position: relative;
					top: 0;
					width: 100%;
					height: auto;
					padding: 20px;
					margin-top: 0;

					h3 {
						font-size: 20px;
					}

					input {
						font-size: 16px;

						&::placeholder {
							font-size: 16px;
						}
					}

					&:before {
						display: none;
					}

					.chk-area {
						margin-bottom: 30px;
					}

					ul {
						position: relative;
						bottom: auto;
					}

					.btn-login {
						margin-bottom: 15px;
					}
				}

				>ul {
					box-shadow: none;

					li {
						padding: 20px;
						width: 100%;
						height: auto;
						padding-right: 100px;
						text-align: left;
						position: relative;
						border-top: 1px solid #f4f4f4;

						&:first-child {
							border: 0;
						}

						a {

							>img {
								position: absolute;
								right: 25px;
								top: 50%;
								transform: translateY(-50%)
							}

							span {
								font-size: 16px;
								line-height: 23px;

								strong {
									font-size: 16px;
									line-height: 23px;
								}
							}
						}
					}
				}
			}

			.notice_box {
				padding-bottom: 20px;

				h2 {
					font-size: 24px;
					padding: 40px 0 20px;
					font-weight: bold;
				}

				.borad_rolling {
					padding: 0 20px;

					.slick-track {
						width: 100% !important;
						opacity: 1;
						transform: translate3d(0px, 0px, 0px) !important;
						padding: 0 15px;
						background: #fff;
					}

					.slick-list {
						margin: 0;

						.slick-slide {
							float: none;
							width: 100% !important;
							padding: 15px 0;
							border-top: 1px solid #e5e5e5;

							&:first-child {
								border-top: 0;
							}

							&:nth-child(4)~.slick-slide {
								display: none;
							}

							>div {
								height: auto;
								background: none;
								padding: 0;

								a {
									padding-bottom: 25px;
									position: relative;
									font-weight: bold;

									.day {
										position: absolute;
										left: 0;
										bottom: 0;
										font-weight: normal;
										margin-bottom: 0;
										font-size: 15px;
										color: #666;
									}

									p {

										span {
											text-overflow: ellipsis;
											white-space: nowrap;
											overflow: hidden;
											max-width: calc(100% - 15px);
											height: auto;
											display: inline-block;
											font-size: 16px;
											font-weight: 500;
										}

										em {
											display: inline-block;
											border-radius: 3px;
											font-style: normal;
											position: relative;
											left: 3px;
											top: 10px;
										}
									}
								}
							}
						}
					}
				}

				.more {
					width: 29px;
					height: 29px;
					background: url(#{$url-img}/m_btn_more.gif) 0 0 no-repeat;
					left: auto;
					bottom: auto;
					margin-left: 0;
					top: 43px;
					right: 20px;
					background-size: 100% 100%;
				}
			}
		}


		.banner-box {
			padding: 40px 20px;

			.container {
				>div {
					float: none;
					width: 100%;
					margin: 20px 0 0 !important;

					&:first-child {
						margin-top: 0 !important;
					}

					a {
						display: block;

						>img {
							width: 100%;
							display: none;

							&.m {
								display: block;
							}
						}
					}

					.banner-rollings {
						.slick-dots {
							right: 20px;
							top: 20px;
						}
					}
				}
			}
		}

		.bottom-banner {
			background: #22223e;
			padding: 20px 0;

			ul {
				li {
					width: 50%;

					a {
						border: 0;
						padding: 25px 10px;

						img {
							width: 110px;
						}

						strong {
							font-size: 16px;
							margin-top: 10px;
						}
					}
				}
			}
		}
	}


	input[type="checkbox"] {
		position: absolute;
		left: -1px;
		top: -1px;
		width: 1px;
		opacity: 0;
	}

	input[type="checkbox"]+label {
		&:before {
			content: "";
			display: inline-block;
			position: relative;
			top: 1px;
			width: 16px;
			height: 15px;
			border: 0;
			border-radius: 2px;
			background:white url(#{$url-img}/ico-checkbox.png) center center no-repeat;
		}
	}

	input[type="checkbox"]:checked+label {
		&:before {
			background:white url(#{$url-img}/ico-checkbox-on.png) center center no-repeat;
		}
	}
}

@include media-breakpoint-down(md) {
	body {
		min-width: inherit;
	}

	.container {
		width: 100%;
	}
}