@charset "utf-8";
/* 어드민 공통 사항 */
span.br {display: block; height: 5px;}

.adminheader nav.head, 
.adminsubnavi.subnavi ul{margin: 0;padding-left: 40px;width: 1500px;}
.adminsubnavi.subnavi{background-position:left top;;}
.subnavi.loginsubnavi{min-width:996px}
.subnavi.loginsubnavi ul{width: 996px; margin: 0 auto}
.input{height: 35px; line-height: 35px; background: #fff /*#f6f6f6*/; border:1px solid #dddddd;}
.inputsize0{width: 100px;}
.inputsize1{width: 185px;}
.inputsize2{width: 232px;}
.inputsize3{width: 321px;}
.inputsize330{width: 330px;}
.inputsize4{width: 478px;}
.important{color: #e83a95 !important;margin-right: 5px;}

/*file*/
.filebox input[type="file"] {position: absolute;width: 1px;height: 1px;padding: 0;margin: -1px;overflow: hidden;clip:rect(0,0,0,0);border: 0;}
.filebox label {display:inline-block;zoom:1;*display:inline;_display:inline;cursor: pointer;}

/* named upload */
.filebox .upload-name {display:inline-block;zoom:1;*display:inline;_display:inline;width: 330px;-webkit-appearance: none;-moz-appearance: none;appearance: none;}
.onlyfile.filebox label{width: 80px;height: 35px;line-height: 35px;text-align: center;background:#999999 ;color: #fff;}
.adminsubnavi,
.adminheader{min-width:1280px;}
.subContainer{width:1280px; min-width:1280px; margin:0 auto;overflow:hidden;font-size: 0;}
.subContainer #sublnb{ width: 100%;vertical-align: middle;width:230px; display: inline-block; vertical-align: top; border-left:none; border-top:none; height: 100%; margin-top:45px;}
.subContainer #sublnb .sublnbTitle{width: 100%;text-align: center;display: table;}
.subContainer #sublnb .sublnbTitle h3{display: table-cell;width: 100%;height: 100%;background: #3c465a;color: #fff;font-size: 22px;height: 150px;font-weight: 700;vertical-align: middle;}
.subContainer #sublnb dl{margin-bottom:4px;}
.subContainer #sublnb dl dt{width: 100%;}
.subContainer #sublnb dl dt:first-child{}
.subContainer #sublnb dl dt a{display: inline-block;height: 53px;line-height: 51px;padding-left: 30px;color: #666;font-size: 15px;font-weight: 700;position: relative;width: 100%;background:#f1f7fb;border:1px solid #ddd;}
.subContainer #sublnb dl dt.on{}
.subContainer #sublnb dl dt:first-child.on{}
.subContainer #sublnb dl dt.on a{color: #fff; background: #3c465a;}
.subContainer #sublnb dl dt a span{position:absolute; top:20px; right:20px; display:block; width:12px; height:12px; background:url('../img/sub/bg_lnb_plus.png') no-repeat left top;}}
.subContainer #sublnb dl dt a span:before,
.subContainer #sublnb dl dt a span:after{}
.subContainer #sublnb dl dt a span:before{}
.subContainer #sublnb dl dt a span:after{}
.subContainer #sublnb dl dt.on a span{position:absolute; top:20px; right:20px; display:block; width:12px; height:12px; background:url('../img/sub/bg_lnb_minus.png') no-repeat left top;}}
.subContainer #sublnb dl dt.on a span:before,
.subContainer #sublnb dl dt.on a span:after{background: #fff;}
.subContainer #sublnb dl dd{padding:25px 0;padding-left: 20px;background: #fff;display: none;border:1px solid #ddd;border-top:none;}
.subContainer #sublnb dl dd.on{display: block;}
.subContainer #sublnb dl dd div{margin-top: 12px;padding-left: 13px;position: relative;}
.subContainer #sublnb dl dd div:hover{}
.subContainer #sublnb dl dd div:before{content:"";display: block;vertical-align: top;background: #666666;width: 3px;height: 3px;position: absolute;left: 0;top: 6px;}
.subContainer #sublnb dl dd div:hover:before,
.subContainer #sublnb dl dd div.on:before{background: #3c465a;}
.subContainer #sublnb dl dd div:first-child{margin-top: 0;}
.subContainer #sublnb dl dd div a{color: #666;font-size: 15px;line-height: 1em;display: block;}
.subContainer #sublnb dl dd div.on a,
.subContainer #sublnb dl dd div:hover a{color:#3c465a; text-decoration:underline;}
.subContainer #sublnb dl dd div ul li:before {content:"-"; margin-right:5px;}
#contents.subContents{display: inline-block; vertical-align: top; padding: 60px 0 0 50px; width:1046px; min-width:1045px; min-height:1000px;}

h2.borderTitle{color: #212121;font-size: 30px;font-weight: 700;line-height: 1em;margin-bottom: 30px !important;}
.borderSearchBox{padding: 27px;border:1px solid #eeeeee;overflow:hidden;margin-bottom: 50px;}
.cateBox{float:left;color: #666;font-size: 14px;height: 40px;line-height:38px;}
.cateBox .selectbox{width: 130px; height: 40px;}
.cateBox .selectbox select{width: 130px;}

.searchBox input{width: 260px; height: 40px;}
.searchBox label{font-size: 14px;    color: #999;    margin-right: 20px;}
.searchBox  .radio-container{line-height: 40px;height: 40px;}
.searchBox button{width: 40px;height: 40px;background: #666;border:none;text-align: center;}
.searchBox button img{margin-left: 3px;}

.borderWrap{}
.borderWrap table{}
.border_top{overflow:hidden;margin-bottom: 15px;}
.border_top .total{color: #212121;font-size: 14px;font-weight: 700;float:left;line-height: 35px;height: 35px;;}
.border_top .total span{}
.border_top .write{float:right;}
.NoticeWriter .title{}
.NoticeWriter .title input{width: 860px;}
.NoticeWriter .title .checkbox-container{line-height: 34px; height: 34px; margin-left: 5px;}
.NoticeWriter textarea{width: 928px;height: 198px;resize:vertical;padding:10px;color: #666;font-size: 14px;background: #fff /*#f6f6f6*/;border: 1px solid #dddddd;}
.NoticeWriter .filebox label{width: 80px;height: 35px;line-height: 35px;text-align: center;background:#999999 ;color: #fff;}

.qnaList .complate{color: #4f96d1;}
.faqSearchBox{overflow:hidden;text-align: center;border:3px solid #eeeeee;padding: 25px 0;margin-bottom: 50px;}
.faqSearchBox .searchBox{float:none;}
.faqSearchBox .hashBox{margin-top: 15px;color: #666;font-size: 14px;font-weight: 700;line-height: 34px;}
.faqSearchBox .hashBox span{margin: 0 5px;}
.faqSearchBox .hashBox a{padding: 0 20px;height:34px ;line-height: 34px;text-align: center;font-size: 13px;color: #999;display: inline-block;vertical-align: top;margin: 0 5px;border:1px solid #dddddd;border-radius:17px;}

.faqTab{margin-bottom: 50px;width: 100%;}
.faqTab > ul{font-size: 0;width: 100%;position: relative;}
.faqTab > ul:after{content:"";display: block;height: 2px;width: 100%;background: #4f96d1;position: absolute;bottom: 0;left:0;}
.faqTab > ul > li{position: relative;display: inline-block;vertical-align: top;background: #f6f6f6;border:2px solid #dddddd;border-bottom:none;width: calc( 15% - 6.9px );margin-left: -2px;}
.faqTab > ul > li:first-child{margin-left: 0;}
.faqTab > ul > li a{display: block;width: 100%;text-align: center;height: 63px;line-height: 63px;color: #999;font-size: 14px;}
.faqTab > ul > li.on{background: #fff;border:2px solid #4f96d1;border-bottom:none;z-index: 2;}
.faqTab > ul > li.on a{color: #4f96d1;font-weight: 700;}
.faqcateSpan{color: #3c465a; font-weight: 700;  }
.faqList .dt{position: relative;}
.faqList .dt .faqArrow{position: absolute;right:28px;top:33px;transform:rotate(180deg)} 
.faqList .dt.on .faqArrow{transform:rotate(0deg)} 
.faqList .dt .title{position: relative;}
.faqList .dt .title a img{margin-right: 10px;}
.faqList .dd{background: #f1f7fb;display: none;}
.faqList .dd .title{font-size: 0;}
.faqList .dd .title img{display: inline-block;vertical-align: top;width: 44px;}
.faqList .dd .title .faqAnswer{display: inline-block;vertical-align: top;width:745px;padding-left: 10px;}
.faqList .dd .title .faqAnswer h3{color: #4f96d1;font-size: 14px;margin-top: 10px;}
.faqList .dd .title .faqAnswer p{color: #999;font-size: 14px;margin-top: 10px;}   

.centerSearch{overflow:hidden;text-align: center;border:3px solid #eeeeee;padding: 25px 0;margin-bottom: 50px;}
.centerSearch .searchBox{float:none;}

.borderTop{border:1px solid #dddddd;background: #fafafa;padding: 30px;color: #666;line-height: 1em;font-size: 14px;margin-bottom: 30px;}
.border_toptype2 .page{position: relative;float:left;color: #666;font-size: 14px;line-height: 35px;height: 35px;padding-left: 10px;margin-left: 10px;}
.border_toptype2 .page:before{content:"";display: block;position: absolute;left:0;top:10px;background: #eee;width: 1px;height: 17px;;}
.border_toptype2 .page .selectbox{ margin-left: 10px; width: 130px;}
.border_toptype2 .btn{width: 120px;}
.normal{color: #085885;}
.expiration{color: #666;}
.apply{color: #4f96d1;}
.dormancy{color: #999;}
.stop{color: #e83a95;}
.popTableTitle{color: #212121;font-size: 14px;font-weight: 700;line-height: 1em;margin-bottom: 10px;}
.popinput{height: 40px;padding: 0 10px;color: #999;font-size: 14px;border:1px solid #dddddd;}
.popinputSize1{width: 670px;}

/* 광고주 검색 팝업 */
.adSearch{}
.adSearchBox{width: 100%;background: #fafafa;border:1px solid #dddddd;text-align: center;padding:23px 0;margin-bottom: 30px;}
.adSearchBox h5{color: #212121;font-size: 15px;font-weight: 700;margin-bottom: 12px;line-height: 1em;}
.adSearchBox .inputBox{}
.adSearchBox .inputBox input{width: 573px;height: 40px;border:1px solid #dddddd;padding: 0 10px;}
.adSearchBox .inputBox a{}
.infoArea{border:1px solid #dddddd;padding:25px 34px;margin-bottom: 30px;}
.infoArea ul{}
.infoArea ul li{padding-left: 13px;line-height: 1em;font-size: 13px;color: #666;margin-top: 10px;background-position:left 5px}
.infoArea ul li span{color: #212121;}

/*pop tab*/
.popTab{margin-bottom: 50px;width: 100%;}
.popTab > ul{font-size: 0;width: 100%;position: relative;}
.popTab > ul:after{content:"";display: block;height: 1px;width: 100%;background: #4f96d1;position: absolute;bottom: 0;left:0;}
.popTab > ul > li{position: relative;display: inline-block;vertical-align: top;background: #f6f6f6;border:1px solid #dddddd;border-bottom:none;width: calc( 33.3% + 0.9px );margin-left: -1px;}
.popTab > ul.ul2 > li{position: relative;display: inline-block;vertical-align: top;background: #f6f6f6;border:1px solid #dddddd;border-bottom:none;width: calc( 50% + 0.5px );margin-left: -1px;}
.popTab > ul > li:first-child{margin-left: 0;}
.popTab > ul > li a{display: block;width: 100%;text-align: center;height: 50px;line-height:50px;color: #999;font-size: 14px;}
.popTab > ul > li.on{background: #fff;border:1px solid #4f96d1;border-bottom:none;z-index: 2;}
.popTab > ul > li.on a{color: #4f96d1;font-weight: 700;}

/* 평가년도 */
.EClist{ overflow:hidden; margin-bottom: 80px; display: none;}
.EClist > div{float:left;padding:30px 20px ;}
.EClist > div.left{width: 405px; margin-right: 73px; background: #eee;}  
.EClist > div.right{width: 722px; background: #f1f7fb;}
.EClist > div .ScrollTablebody{max-height:610px;}

/* add */
.pt60 {padding-top:60px;}
.subHeader .submenu li a{color:#999;}
.subHeader .submenu li:first-child:before{background:#ddd;}
.subHeader .submenu li.portal{}
.subHeader .submenu li.portal a {border:1px solid #4f96d1; background:#4f96d1; color:#fff;}
.subHeader .gb_Search {position:absolute; top:22px; right:0;}
.subHeader .gb_Search input.inp_ty01 {width:204px; height:46px; font-size:15px; color:#999; padding:0 0 0 12px; background:#fff /*#f6f6f6*/; border:2px solid #e4e4e4; border-right:none; vertical-align:top;}
.subHeader .gb_Search button.btn_search {width:46px; height:46px; background:#3c465a url('../img/sub/icon_btn_search.png') no-repeat left top; border:none;}
#header.subHeader{height: 160px;}
.buttonBox {margin:0 0 20px 0;text-align:right;}
.buttonBox.title {margin-top:-61px;margin-bottom:30px;}
.buttonBox >span {display: inline-block;margin-left:8px;}

/* 버튼들 */
.buttonBox button,
.buttonBox a {display: block;border: none;background: none;overflow:hidden;text-indent:-1000px;}
.btnHistory {width:35px;height:35px;background:url(../img/bo/img_btn_history.png) no-repeat 50%;}
.btnHistory a, button {width:35px;height:35px;}
.btnPrint {width:35px;height:35px;background:url(../img/bo/img_btn_print.png) no-repeat 50%;}
.btnPrint a, button {width:35px;height:35px;}
.btnFtPlus {width:35px;height:35px;background:url(../img/sub/btn_plus.png) no-repeat 50%;}
.btnFtPlus a, button {width:35px;height:35px;}
.btnFtMinus {width:35px;height:35px;background:url(../img/sub/btn_minus.png) no-repeat 50%;}
.btnFtMinus a, button {width:35px;height:35px;}

.btm_vote_box {padding:30px; background:#f1f7fb; border:1px solid #ddd;}
.btm_vote_box p.tx01 {float:left; font-size:15px; color:#212121; line-height:34px; padding:0 0 10px 44px; background:url('../img/sub/icon_dot.png') no-repeat left top;}
.btm_vote_box .ty_wrap {float:left; padding:5px 0 0 10px;}
.btm_vote_box .ty_wrap label {font-size:14px; color:#666; margin-right:20px;}
.btm_vote_box textarea {width:853px; height:80px; background:#fff /*#f6f6f6*/; border:1px solid #ddd; vertical-align:top;}
.btm_vote_box a.btn_vote {display:inline-block; width:80px; height:80px; font-size:15px; color:#fff; line-height:80px; background:#666666; text-align:center; vertical-align:top;}

table.tb_nepr {width:100%;}
table.tb_nepr th {height:60px; font-size:15px; color:#666; line-height:60px; border-bottom:1px solid #e5e5e5; padding:0 0 0 30px; text-align:left;}
table.tb_nepr th span.prev {display:inline-block; padding:0 21px 0 0; background:url('../img/sub/arr_up.png') no-repeat right 26px;}
table.tb_nepr th span.next {display:inline-block; padding:0 21px 0 0; background:url('../../img/sub/arr_down.png') no-repeat right 26px;}
table.tb_nepr td {height:60px; font-size:15px; color:#666; line-height:60px; padding:0; border-bottom:1px solid #e5e5e5;}

.answerCon .file_bx {padding:15px 0 15px 30px; border-bottom:1px solid #ddd;}
.answerCon .file_bx a.download{color: #999; font-size: 14px; line-height: 27px;}
.answerCon .file_bx a.download img{margin-right: 12px;}
.answerCon .file_bx a.viewer{margin-left: 10px;}

.cont_bx01 {padding:20px 0 20px 40px; background:#f6f6f6;}
.cont_bx01 dl {height:100px; padding:12px 0 0 123px;}
.cont_bx01 dt {font-weight:bold; font-size:22px; color:#212121; line-height:1; padding:0 0 15px 0;}
.cont_bx01 dd {font-size:15px; color:#666; line-height:1;}

.cont_bx02 {padding:40px 0 40px 40px; border:1px solid #ddd;}
.cont_bx02 dl {height:auto; padding:23px 0 0 123px;}
.cont_bx02 dt {font-weight:bold; font-size:22px; color:#212121; line-height:1; padding:0 0 15px 0;}
.cont_bx02 dd {font-size:15px; color:#666; line-height:1;}
.cont_bx02 li {position:relative; padding:0 0 15px 65px;}
.cont_bx02 li span {position:absolute; top:0; left:0; font-weight:bold; font-size:15px; color:#4f96d1;}

.cont_bx03 {min-height:180px; padding:40px 0 40px 40px; border:1px solid #ddd;}
.cont_bx03 dl {float:left; height:100px; padding:23px 0 0 123px;}
.cont_bx03 dl.left {width:500px;}
.cont_bx03 dt {font-weight:bold; font-size:22px; color:#212121; line-height:1; padding:0 0 15px 0;}
.cont_bx03 dd {font-size:15px; color:#212121; line-height:1;}

.cont_bx04 {padding:40px 0 40px 40px; background:#f6f6f6;}
.cont_bx04 dl {height:100px; padding:10px 0 0 123px; background:url('../img/sub/icon03_01.png') no-repeat left top;}
.cont_bx04 dt {font-weight:bold; font-size:22px; color:#212121; line-height:1; padding:0 0 13px 0;}
.cont_bx04 dd {font-size:15px; color:#666; line-height:24px;}

.history_list {border-top:1px solid #3c465a;}
.history_list li {position:relative; font-size:15px; color:#666; line-height:1; padding:46px 0 47px 200px; border-bottom:1px solid #ddd;}
.history_list li span.year {position:absolute; top:40px; left:60px; font-weight:bold; font-size:38px; color:#3c465a; line-height:1;}
.history_list li p.tx01 {padding-left:10px; background:url('../img/common/blit_gray.png') no-repeat left 6px;}

.viewer_list {border-top:1px solid #ddd;}
.viewer_list li {position:relative; height:81px; padding:22px 0 0 100px; border:1px solid #ddd; border-top:none;}
.viewer_list li.ty02 {height:102px;}
.viewer_list dt {font-weight:bold; font-size:13px; color:#4f96d1; line-height:1; padding-bottom:7px;}
.viewer_list dd {font-size:13px; color:#666; line-height:22px;}
.viewer_list p.icon {position:absolute; top:0; left:0; border-right:1px solid #ddd;}
.viewer_list a.btn_goto {position:absolute; top:23px; right:21px; display:block; width:120px; height:35px; font-size:15px; color:#fff; line-height:35px; background:#085885; text-align:center;}
.viewer_list li.ty02 a.btn_goto {top:33px;} 

.agree_bx {font-size:15px; color:#666; line-height:24px; padding:30px; background:#f6f6f6; border:1px solid #ddd;}
.agree_bx span.s_tit {font-weight:bold; color:#4f96d1;}
.agree_bx span.pl01 {display:inline-block; padding-left:18px;}
.agree_bx a {font-size:13px; color:#666; line-height:22px;}
.agree_bx a:hover {color:#4f96d1; text-decoration:underline;}

.error_bx {padding:90px 0 290px 0; text-align:center;}
.error_bx dl {padding-bottom:50px;}
.error_bx dt {font-weight:bold; font-size:30px; color:#212121; line-height:1; padding:40px 0 20px 0;}
.error_bx dd {font-size:15px; color:#999; line-height:1;}

.BOSearchBoxDetail .selectbox{width: 180px;}

.tx_box_dt01 {padding:25px 0 25px 30px; border:1px solid #ddd;}
.tx_box_dt01 p {font-weight:bold; font-size:15px; color:#e83a95; line-height:20px; padding:0 0 10px 24px; background:url('../img/sub/icon_alert.png') no-repeat left top;}
.tx_box_dt01 li {font-size:13px; color:#666; line-height:22px; padding:0 0 0 11px; background:url('../img/common/blit_gray.png') no-repeat left 9px; letter-spacing:-0.5px;}
.tx_box_dt01 li span {font-weight:bold; color:#212121;}

.pop_inp_wrap01 {padding:20px 0; background:#fafafa; border:1px solid #ddd; text-align:center;}
.pop_inp_wrap01 input {height:40px; background:#fff;}
.pop_inp_wrap01 .selectbox {background-color:#fff !important;}

.BOTabBox {position: relative;margin: 0 0 40px 0;height: 64px;}
.BOTabBox::after {content: '';display: block;position: absolute;left: 0;bottom: 0;width: 100%;height: 1px;border-bottom: 2px solid #4f96d1;z-index:0;}
.BOTabBox ul {display: table;width: 100%;height:62px;border-spacing: 0;border-collapse: collapse;}
.BOTabBox ul li {display: table-cell;height: 62px;border: 2px solid #ddd;border-bottom: none;box-sizing: border-box;}
.BOTabBox ul li.on {position: relative;z-index: 1;}
.BOTabBox ul li a {display: block;height:60px;font-size: 18px;color: #999;line-height: 60px;text-align: center;background:#f6f6f6;}
.BOTabBox ul li.on a {height: 64px;line-height: 60px;margin: -2px -2px 0px -2px;color: #4f96d1;background: #fff;border: 2px solid #4f96d1;font-weight:700;border-bottom: none;}
.BOTabBox .div2 li {width:50%;}
.BOTabBox .div4 li {width: 242px;}
.BOTabBox .div5 li {width: 20%}
.BOTableBox th, .BOTableBox th td {padding: 17px 0;}
.subTab{font-size: 0;}
.subTab li{display: inline-block;vertical-align: top;width: 325px;margin-left: 10px;margin-bottom: 30px;border:2px solid #dddddd;}
.subTab5 li{width: 191px;}
.subTab li:first-child{margin-left: 0;}
.subTab li a{display: block;height: 64px;line-height: 64px;text-align: center;width: 100%;color: #333;font-size: 18px;}
.subTab li.on{background: #4f96d1; border:2px solid #4f96d1;}
.subTab li.on a{color: #fff;}
.dot{padding-left:10px; background:url('../img/common/blit_gray.png') no-repeat left 10px; color: #666; font-size: 15px; line-height: 24px;}
.dot a{color: #4f96d1; border-bottom:1px solid #4f96d1;vertical-align: top;}
.grayBox{padding:15px 0 15px 40px; background:#f6f6f6; color: #666; font-size: 15px;margin-bottom: 20px;    }
.downBox{}
.downBox ul{font-size: 0;border:1px solid #dddddd;}
.downBox ul li{padding-top: 45px;padding-bottom: 50px;text-align: center;border-left:1px solid #dddddd;width: 50%;display: inline-block;vertical-align: top;}
.downBox ul li:first-child{margin-left: 0; border-left:none;}
.downBox ul li div.img{margin-bottom: 20px;}
.downBox ul li h3{color: #212121; font-size: 22px; font-weight: 700;    }
.downBox ul li a{margin-top: 15px; width: 110px; height: 30px; line-height: 30px; text-align: center; color: #666; font-size: 13px; border:1px solid #dddddd; display: inline-block;}
.downBox ul li:hover a{color: #4f96d1; border:1px solid #4f96d1 }

/* 20190522 추가 */
.titleBlue {display:block; margin-top:25px; font-size:20px; font-weight:bold; color:#4f96d1;}
.txt_row {margin-top:10px; font-size:15px; font-weight:bold; color:#666;}
.list_row {margin-top:10px;}
.list_row li {position:relative; padding-left:13px; font-size:15px; font-weight:bold; color:#666;}
.list_row li:before {content:""; position:absolute; top:8px; left:0; display:ilnine-block; width:3px; height:3px; border-radius:3px; background:#666;}
