@charset "UTF-8";     
/*=======================================*/
/*	IMS File Ver 02							*/
/*=======================================*/

/* file dropzone */
#F2_frame{ width:800px; height:600px; display:block; padding:10px; text-align:left; border:1px solid #999 }

